/**************************************
GENERAL
***************************************/
* { padding: 0; margin: 0; }
body { font-family: sans-serif; }
a { text-decoration: none; color: #00A5CC; }
li { list-style-type: none; }
p {
}
img{
    bottom: auto;
    
}
header { 
        text-align: center;
	width: 100%; 
	height: 50px; 
	margin: auto;
	border-bottom: 1px solid #EEE;
}
div.absolute {
    position: absolute;
    bottom: 70px;
    width: 200px;
    height: 100px;
    border: 3px solid #8AC007;
}

#brand {
	float: left;
	line-height: 50px;
	color: #FFF;
	font-size: 25px;
	font-weight: bolder;
   margin: 0 0 0 6px;
}
nav { width: 100%; text-align: center; }
nav a { 
	display: block; 
	padding: 15px 0;
	border-bottom: 1px solid #000;
	color: darkgray;
}
nav a:hover { background: darkgrey; color: #FFF; }
nav li:last-child a { border-bottom: none; }

/*-----------------------------------------*/
div{
        size: landscape;
}
img {
    
    float: top;
    top: auto;
}
#menu {
  
  position: fixed;
  right: 0;
  top: 2;
  width: 8em;
  margin-top: -8.5em;
}
.menu {
	width: 240px;
	height: 100%;
	position: absolute;
	background: #C0C0C0;
	left: -240px;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	
}
.menu-icon {
	padding: 10px 20px;
	background: #c0c0c0;
	color: #000;
	cursor: pointer;
	float: right;
	margin: 6px 6px 0 0;
	border-radius: 5px;
}
#menuToggle { display: none; }

#menuToggle:checked ~ .menu { position: absolute; left: 0; }
body {
  background-color: lightgray;
  font-family: 'Montserrat', sans-serif;
}
#wrapper { 
    alignment-adjust: central; 
    max-width: 2600px;
    margin: 0 auto;
    padding: 0 30%;
}

a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: black;
    
}

img {
    max-width:100%;
}

h3 {
    margin: 0 0 1em 0;
    text-align: center;
}

/***************************************
HEADER
****************************************/
    

    img {
    position: absolute;
    top: 0; bottom:0; left: 0; right:0;
    margin: auto;
} 


#logo
 {
   text-align: center;
   margin: 0;
 }
 
h1 {
    font-family: 'Montserrat', sans-serif;
    margin: 0px 0;
    font-size: 5em;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    margin: 0px 0 0;
    font-weight: 500;
}
/**************************************
NAVIGATION
***************************************/

nav{
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 10px 0;
    margin: 0 10px;
}

nav li {
    display: inline-block;
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
}

/**************************************
FOOTER
***************************************/
footer {
    font-size: 1em;
    text-align: center;
    padding-top: 50px
}
footer {
    color: #6D829C;
    clear: both;
}

.social-media-icon {
    width: 35px;
    height: 35px;
    margin: 0 5px;
}

/**************************************
PAGE PORTFOLIO
***************************************/

.banner {
    background:;
    background-size: cover;
    height: /* Whatever height */;
}

.wrapper {
    margin: 0 auto; /* This is what centers it */
    max-width: 1000px;
    width: 96%;
 }

#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li {
float: left;
width: 45%;
margin: 2.5%;
background-color: #c0c0c0;
color: bdc3c7;
}
#gallery li a p {
    margin: 0;
    padding: 5%;
    font-size: 0.75em;
    color:#000
}

/***************************************
ABOUT ME PAGE  
****************************************/

.profile-photo {
    display: block;
    max-width: 0 auto 30px;
    border-radius: 5%; 
}


/***************************************
COLORS
****************************************/
h1, h2 {
    color: #fff;
}

nav a, nav a:visited{
   color: white;
}
nav a.selected, nav a:hover {
    color: #000;
}

nav {
    background-color: #6D829C;
}
h1{
  color: #fff; 
}

header {
    background: #99a8ba;
}



